@supports not ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
    .popover {
        background-color: rgb(0 0 0 / 0.95);
    }
}

@supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
    .popover {
        background-color: rgb(0 0 0 / 0.5);
    }

    /* Background bubles */
    .bubble-set {
        position: relative;
        max-width: 1400px;
        margin: 0 auto;
        z-index: -1;
    }

    .bubble-set .bubble-lg {
        top: calc(100% - 300px);
        left: 2%;
        width: 950px;
        height: 950px;
    }

    .bubble-set .bubble-md {
        top: -300px;
        right: -10%;
        width: 835px;
        height: 835px;
    }

    .bubble-set .bubble-sm {
        top: 0;
        right: 15%;
        width: 535px;
        height: 535px;
    }

    .bubble-set div {
        position: absolute;
        border-radius: 50%;
        background: rgba(255, 255, 255, 0.04);
    }
}
