.top-left {
    top: 1.25em;
    left: 1.25em;
    transition: transform 0.6s ease-in;
    animation: toast-in-left 0.7s;
}

.top-right {
    top: 1.25em;
    right: 1.25em;
    transition: transform 0.6s ease-in-out;
    animation: toast-in-right 0.7s;
}

.bottom-left {
    bottom: 1.25em;
    left: 1.25em;
    transition: transform 0.6s ease-in;
    animation: toast-in-left 0.7s;
}

.bottom-right {
    bottom: 1.25em;
    right: 1.25em;
    transition: transform 0.6s ease-in-out;
    animation: toast-in-right 0.7s;
}

@keyframes toast-in-right {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes toast-in-left {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}
